<a href="https://colab.research.google.com/github/eunsol123/python/blob/main/Homework01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신시가 소리질렀다. "도둑이야".')

신시가 소리질렀다. "도둑이야".

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n 만나서\t\t 반갑습니다.")

# \n : 한줄 띄기
# \t : 탭 간격 띄기

안녕하세요.
 만나서		 반갑습니다.

In [ ]:
print ("오늘은", "일요일")

# 오늘은 일요일

In [11]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [10]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [12]:
print("first", end=""); print("second")

firstsecond

In [13]:
print(5/3)

1.6666666666666667

In [14]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10

print(총평가금액)

500000

In [18]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [17]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
print(2 + 2 * 3 )

# 8

In [19]:
a = "132"
print(type(a))

<class 'str'>

In [24]:
num = "720"
print(num, type(num))

# 형변환
num = int(num)
print(num, type(num))

720 <class 'str'>
720 <class 'int'>

In [23]:
num = 100
print(num, type(num))

# 형변환
num = str(num)
print(num, type(num))

100 <class 'int'>
100 <class 'str'>

In [26]:
num = '15.79'
print(num, type(num))

# 형변환
num = float(num)
print(num, type(num))

15.79 <class 'str'>
15.79 <class 'float'>

In [27]:
year = "2020"
print(year,type(year))

# 형변환
year = int(year)
print(year,type(year))

2020 <class 'str'>
2020 <class 'int'>

In [28]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024