<a href="https://colab.research.google.com/github/eunsol123/python/blob/main/Python03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('이름을 입력 하세요 :')
age = input('나이를 입력 하세요 :')

print(f'입력된 이름은 {name} 이고, 나이는 {age} 입니다.')

이름을 입력 하세요 :은솔
나이를 입력 하세요 :22
입력된 이름은 은솔 이고, 나이는 22 입니다.

In [ ]:
n = input('정수를 입력하세요 :')
print(type(n))

정수를 입력하세요 :g
<class 'str'>

In [ ]:
price = 5000
n = int(input('할부 개월 입력 :'))

print(f'매달 내는 돈은 {price/n} 원 입니다.')

할부 개월 입력 :5
매달 내는 돈은 1000.0 원 입니다.

In [ ]:
n1 = float(input('첫 번째 실수를 입력하세요 :'))
n2 = float(input('두 번째 실수를 입력하세요 :'))

print(f'{n1}와 {n2}의 합은 {n1+n2} 입니다.')

첫 번째 실수를 입력하세요 :1.23
두 번째 실수를 입력하세요 :2.34
1.23와 2.34의 합은 3.57 입니다.

In [ ]:
month = [31,28,31,30,31,30,31,31,30,31,30,31]

ask = int(input('1~12월 사이의 월을 입력하세요 :'))
print(f'{ask}월은 {month[ask-1]}일 까지 있습니다.')

1~12월 사이의 월을 입력하세요 :12
12월은 31일 까지 있습니다.

In [ ]:
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
str = input('영어 단어를 입력 하세요 :')

print(f'{str} : {english_dict[str]}')

영어 단어를 입력 하세요 :fly
fly : 날다

In [ ]:
s = set()

hope = input('희망하는 수학여행지를 입력하세요:')
s.add(hope)
hope = input('희망하는 수학여행지를 입력하세요:')
s.add(hope)
hope = input('희망하는 수학여행지를 입력하세요:')
s.add(hope)

print(f'조사된 수학여행지는 {s} 입니다.')

희망하는 수학여행지를 입력하세요:
제주
희망하는 수학여행지를 입력하세요:
제주
희망하는 수학여행지를 입력하세요:위도
조사된 수학여행지는 {'제주', '위도'} 입니다.

In [ ]:
a = 7
b = 2
print(f'{a} + {b} = {a+b}')
print(f'{a} - {b} = {a-b}')
print(f'{a} * {b} = {a*b}')
print(f'{a} ** {b} = {a**b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} // {b} = {a//b}')
print(f'{a} % {b} = {a%b}')

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 ** 2 = 49
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1

In [ ]:
a,b = 10,20

print(f'a = {a}, b = {b}')

a,b = b,a
print(f'a = {a}, b = {b}')

a = 10, b = 20
a = 20, b = 10

In [ ]:
a = 1
print(a)
a = a+1
print(a)
a += 1
print(a)

a -= 1 # a-1
print(a)

1
2
3
2

In [ ]:
piggy_bank = 0

money = 10000
piggy_bank += money

print(f'지금 저금통에 {money}원 넣었습니다.')
print(f'지금 저금통에는 {piggy_bank}원 있습니다.')

snack = 2000
piggy_bank -= snack
print(f'저금통에서 스낵 구입비 {snack}원을 뺐습니다.')
print(f'지금 저금통에는 {piggy_bank}원 있습니다.')

지금 저금통에 10000원 넣었습니다.
지금 저금통에는 10000원 있습니다.
저금통에서 스낵 구입비 2000원을 뺐습니다.
지금 저금통에는 8000원 있습니다.

In [ ]:
no = int(input('1~99  사이의 정수를 입력하세요 : '))

print(f'십의 자리 : {no//10}')
print(f'일의 자리 : {no%10}')

1~99  사이의 정수를 입력하세요 : 89
십의 자리 : 8
일의 자리 : 9

In [48]:
no = int(input('초를 입력 하세요 :'))

n1 = no//3600
n2 = n1%600
n3 = no%60

print(f'변환 결과는 {n1}시간 {n2}분 {n3}초 입니다.')

초를 입력 하세요 :3690
변환 결과는 1시간 1분 30초 입니다.

In [49]:
no = int(input('사원 번호를 입력 하세요 :'))

if(no%10 >6):
  print('근무 시간은 오후 입니다.')
else :
  print('근무시간은 오전 입니다.')

사원 번호를 입력 하세요 :1255
근무시간은 오전 입니다.

In [63]:
print('한 박스에 20개의 라면을 담을 수 있습니다.')
print('라면의 개수를 입력하시면 필요한 박스 수를 알려드립니다.\n')

no = int(input('라면 개수를 입력하세요 :'))

if(no % 20 >0):
  print(f'{no}개 라면을 담으려면 {no//20 + 1}박스가 필요합니다.')
else:
  print(f'{no}개 라면을 담으려면 {no//20}박스가 필요합니다.')

한 박스에 20개의 라면을 담을 수 있습니다.
라면의 개수를 입력하시면 필요한 박스 수를 알려드립니다.

라면 개수를 입력하세요 :50
50개 라면을 담으려면 3박스가 필요합니다.

In [62]:
kr = float(input(' 국어 점수를 입력하세요 :'))
eg = float(input(' 영어 점수를 입력하세요 :'))
ma = float(input(' 수학 점수를 입력하세요 :'))

average = (kr+eg+ma)/3

if(average>81):
  print(f'평균 점수는 {average}이고, 결과는 합격 입니다.')

else:
  print(f'평균 점수는 {average}이고, 결과는 불합격 입니다.')

 국어 점수를 입력하세요 :85
 영어 점수를 입력하세요 :83
 수학 점수를 입력하세요 :81
평균 점수는 83.0이고, 결과는 합격 입니다.